<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bridgeli.livingsmallhelper.mapper.KnowledgeSubMapper" >
    <resultMap type="KnowledgeSub" id="baseKnowledgeSubMap">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="answer" property="answer" />
    </resultMap>

    <sql id="selectColumn" >
        id, pid, answer
    </sql>

    <select id="getKnowledgeSub" resultMap="baseKnowledgeSubMap">
        SELECT 
            <include refid="selectColumn" ></include>
        FROM
            knowledge_sub
        WHERE
            pid = #{pid}
        ORDER BY
            rand()
        LIMIT 0,1
    </select>

</mapper>